.jelentkezs-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.jelentkezs-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.jelentkezs-navlink {
  display: contents;
}
.jelentkezs-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.jelentkezs-navlink1 {
  text-decoration: none;
}
.jelentkezs-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.jelentkezs-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.jelentkezs-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.jelentkezs-container3 {
  display: contents;
}
.jelentkezs-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.jelentkezs-text1 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
.jelentkezs-text2 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
.jelentkezs-text3 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
.jelentkezs-navlink3 {
  text-decoration: none;
}
.jelentkezs-burger-menu {
  display: none;
}
.jelentkezs-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.jelentkezs-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.jelentkezs-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.jelentkezs-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.jelentkezs-icon04 {
  width: 24px;
  height: 24px;
}
.jelentkezs-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jelentkezs-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.jelentkezs-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.jelentkezs-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.jelentkezs-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.jelentkezs-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.jelentkezs-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.jelentkezs-text7 {
  margin-bottom: var(--dl-space-space-unit);
}
.jelentkezs-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.jelentkezs-login {
  margin-right: var(--dl-space-space-twounits);
}
.jelentkezs-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.jelentkezs-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.jelentkezs-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.jelentkezs-container5 {
  display: contents;
}
.jelentkezs-iframe {
  width: 1920px;
  height: 1350px;
}
@media(max-width: 1600px) {
  .jelentkezs-container {
    background-size: cover;
    background-image: url("/telihold-hiddal-q1rvyg9su9bnyl4yg9480qgzjbwj4ije86w20ev5z4-1500w.jpg");
  }
  .jelentkezs-navbar-interactive {
    background-color: #b5a593;
  }
  .jelentkezs-text1 {
    display: none;
  }
  .jelentkezs-text2 {
    display: none;
  }
  .jelentkezs-text3 {
    display: none;
  }
  .jelentkezs-iframe {
    flex: 1;
    width: 1516px;
    height: 1012px;
  }
}
@media(max-width: 1200px) {
  .jelentkezs-container {
    background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
  }
  .jelentkezs-text1 {
    display: none;
  }
  .jelentkezs-text2 {
    display: none;
  }
  .jelentkezs-text3 {
    display: none;
  }
  .jelentkezs-navlink3 {
    width: 178px;
    height: 33px;
  }
  .jelentkezs-iframe {
    flex: 1;
    width: 1200px;
    height: 1174px;
    margin-bottom: 0px;
  }
}
@media(max-width: 991px) {
  .jelentkezs-iframe {
    width: 991px;
    height: 892px;
  }
}
@media(max-width: 767px) {
  .jelentkezs-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .jelentkezs-desktop-menu {
    display: none;
  }
  .jelentkezs-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .jelentkezs-navlink4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .jelentkezs-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .jelentkezs-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .jelentkezs-text6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .jelentkezs-text7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .jelentkezs-navbar-interactive {
    height: 73px;
    padding: var(--dl-space-space-unit);
    padding-left: 16px;
  }
  .jelentkezs-navlink3 {
    margin-right: var(--dl-space-space-twounits);
  }
  .jelentkezs-icon02 {
    width: auto;
    height: var(--dl-size-size-small);
  }
  .jelentkezs-mobile-menu {
    padding: 16px;
  }
  .jelentkezs-icon06 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .jelentkezs-navlink4 {
    text-decoration: none;
  }
  .jelentkezs-text4 {
    display: none;
  }
  .jelentkezs-text5 {
    display: none;
  }
  .jelentkezs-text6 {
    display: none;
  }
  .jelentkezs-text7 {
    display: none;
  }
  .jelentkezs-iframe {
    flex: 1;
    width: 479px;
    height: 1378px;
    align-self: center;
    margin-left: 0px;
  }
}
